html,
body,
#outerContainer, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: monospace !important;
}

canvas {
  box-shadow: 0px 0px 20px 0px;
}

#version {
  display: flex;
  color: white;
  background-color: black;
  padding: 5px;
  align-items: center;
}

#container {
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

#outerContainer {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#controls {
  max-width: 300px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  text-align: center;
  flex-shrink: 2;
}

.toolbar {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid black;
  align-items: stretch;
}

select {
  border: 0px;
  outline: 1px solid black;
}

.checkboxButton {
  padding:5px;
  display:flex;
  flex-flow:row;
  align-items: center;
}

button,
select {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: 1px solid black;
}

button:hover,
select:hover {
  color: black;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.toolbar h1 {
  margin: 0px;
  padding: 5px;
  font-size: 1.4em;
  display: none;
}

#mainTitle {
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: contain;
  padding: 10px;
  padding-top: 11px;
  /* width: 10.2em; */
}

#title {
  padding: 15px;
}

#layersControl {
  padding: 20px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  /* width: 100%; */
  overflow-y: auto;
  flex-grow: 2;
}

.layerControl {
  border: 1px solid black;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px;
  border-radius: 5px;
}

#staticControl {
  padding: 15px;
}

#workArea {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  overflow: hidden;
}

.flowVertical {
  display: flex;
  flex-flow: column;
  padding: 5px;
}

.flowHorizontal {
  display: flex;
  flex-flow: row wrap;
  padding: 2px;
  justify-content: center;
}

.paramGroup {
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
}

.inputGroup {
  margin: 5px;
}

.inputGroup input {
  max-width: 50px;
}

#layerControlTemplate {
  display: none;
}

.paramLabelRow {
  display: flex;
  justify-content: space-between;
  background-color: #dbdbdb;
}

.paramLabelRow label {
  font-weight: bold;
  flex-grow: 2;
  align-self: center;
}

.paramLabelRow h3 {
  margin: 10px 0px;
}

.specialSymbol {
  font-size: 1.3em;
}