html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

canvas {
  box-shadow: 7px 7px 7px 7px;
}

#version {
  color: white;
  background-color: black;
}

#container {
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

#controls {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  border: 2px dotted black;
  text-align: center;
}

#title {
  /* background-color: purple; */
  padding: 15px;
}

#levelsControl {
  border: 1px solid black;
  padding: 15px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  flex-grow: 2;
  /* background-color: orange; */
}

#staticControl {
  /* background-color: yellow; */
  padding: 15px;
}

#workArea {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  display: flex;
  flex-flow: row;
}

.levelGroup {
  margin-bottom: 15px;
}

.levelParameter {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.levelParameter > div {
  display: flex;
  flex-flow: row wrap;
}

.levelParameter > fieldset {
  border: 1px dashed gray;
}

.levelParameter > fieldset > input {
  width: 50px;
}
