html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#container {
  display: flex;
  flex-flow: row;
  /* background-color: purple; */
}

#controls {
  /* background-color: yellow; */
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px dotted black;
  text-align: center;
}

#controlsInner {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#controlsInner > fieldset {
  margin-bottom:15px;
}

#workArea {
  /* background-color: orange; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  display: flex;
  flex-flow: row;
}

.levelParameter {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.levelParameter > div {
  display:flex;
  flex-flow:row wrap;
}

.levelParameter > fieldset {
  border: 1px dashed gray;
}

.levelParameter > fieldset > input {
  width: 50px;
}