html,
body,
#outerContainer,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

* {
  font-family: monospace !important;
}

canvas {
  box-shadow: 0px 0px 20px 0px;
}

#version {
  display: flex;
  color: white;
  background-color: black;
  padding: 5px;
  align-items: center;
}

#container {
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

#outerContainer {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#controls {
  max-width: 300px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  text-align: center;
  flex-shrink: 2;
}

.toolbar {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid black;
  align-items: stretch;
}

select {
  border: 0px;
  outline: 1px solid black;
}

.checkboxButton {
  padding: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

#helpButton {
  justify-self: flex-end;
}

button,
select {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: 1px solid black;
}

button:hover,
select:hover {
  color: black;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.active {
  color: black;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.toolbar h1 {
  margin: 0px;
  padding: 5px;
  font-size: 1.4em;
  display: none;
}

#mainTitle {
  padding: 10px;
  padding-top: 15px;
}

#title {
  padding: 15px;
}

#layersControl {
  padding: 20px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  /* width: 100%; */
  overflow-y: auto;
  flex-grow: 2;
}

.layerControl {
  border: 1px solid black;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px;
  border-radius: 5px;
}

#staticControl {
  padding: 15px;
}

#workArea {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  overflow: hidden;
}

.flowVertical {
  display: flex;
  flex-flow: column;
  padding: 5px;
}

.flowHorizontal {
  display: flex;
  flex-flow: row wrap;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.paramGroup {
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
}

.inputGroup {
  margin: 5px;
}

.inputGroup input {
  max-width: 50px;
}

#layerControlTemplate {
  display: none;
}

.paramLabelRow {
  display: flex;
  justify-content: space-between;
  background-color: #dbdbdb;
  outline: 1px solid black;
}

.paramLabelRow label {
  font-weight: bold;
  flex-grow: 2;
  align-self: center;
}

.paramLabelRow h3 {
  margin: 5px 0px;
}

.specialSymbol {
  font-size: 1.3em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  padding: 5px;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  padding: 5px;
  visibility: hidden;
  width: 150px;
  left: -160px;
  background-color: black;
  color: #fff;
  text-align: left;
  /* padding: 5px 0; */
  border-radius: 6px;
  position: absolute;
  z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: help;
}

#helpContainer,
#statusTextContainer,
#dialogContainer {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog {
  pointer-events: all;
}

#help,
#statusText {
  pointer-events: all;
  z-index: 1000;
  padding: 15px;
  display: none;
  background-color: white;
  border: 2px solid grey;
  max-width: 500px;
  max-height: 75%;
  min-width: 250px;
  min-height: 50px;
  box-shadow: 6px 6px 5px black;
  overflow-y: scroll;
  flex-flow: column;
}

#helpClose button {
  border: 0px;
  padding: 0px 5px;
  align-items: center;
  display: flex;
}

#helpTitle {
  width: 100%;
}

#bigTitle {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.contentRow {
  margin: 15px 0px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
